<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- coronavirus_index.html 文件说明 -->
    <!-- 那什么情况下使用服务端渲染更好呢？

        服务端渲染直接生成好 HTML，不需要在客户端执行 JS，这样浏览器渲染速度快，能够充分利用缓存策略。
        而且服务端直接生成 HTML 内容，对搜索引擎蜘蛛（搜索引擎机器人）更友好，利于 SEO。
        因此，如果对网页渲染速度非常敏感的应用通常会在首屏（即用户浏览器可以看到的第一屏内容）使用服务端渲染，
        而如果是一些特定的需要依赖良好的 SEO 的场景也会选择使用服务端渲染，至于另外一些简单的应用，
        不需要复杂的 JS 实现交互逻辑，采用服务端渲染也更简单，效率也更高。

        总的来说，如果应用对网页渲染速度敏感，或是依赖 SEO，或是比较简单，就更适合使用服务端渲染。
      -->

       <!-- {{#each}}是 handlebars 的循环指令，data 是传给 handlebars 模板的数据  -->
</body>
</html>